<header class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header navbar-right">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{url_for('welcome')}}">{{config.CONFIG_DB.brand_name}}</a>
    </div>
    <nav class="collapse navbar-collapse">
      <ul class="nav navbar-nav pull-left">
        <li class="{{'active' if html_class == 'resource-list' else ''}}">
          <a href="{{url_for('resource_grid')}}"><span class="fa fa-fw fa-th"></span> تصفح الصور</a>
        </li>
        # include 'bit/contact_menu.html'
        # include 'bit/user_menu.html'
        <li class="{{'hidden' if html_class == 'resource-upload' else ''}}">
          <a class="btn btn-primary upload-btn" href="{{url_for('resource_upload')}}" title="رفع صور" role="button">
            <span class="fa fa-plus fa-fw"></span>
            أرسلوا صوركم الآن
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
