# extends 'base.html'
# import 'macro/forms.html' as forms
# import 'macro/utils.html' as utils

# block content
  <div class="page-header">
    <h1>
      {{utils.back_link('Back', 'resource_view', resource_id=resource_db.key.id())}}
      {{title}}
    </h1>
  </div>

  <div class="row">
    <div class="col-md-6">
      <form class="form" method="POST" action=".">
        <fieldset>
          {{form.csrf_token}}
          {{forms.text_field(form.name)}}
          {{forms.textarea_field(form.description)}}
          {{forms.text_field(form.address_first_line)}}
          {{forms.text_field(form.address_second_line)}}
          {{forms.text_field(form.city)}}
          {{forms.text_field(form.country)}}
          <div class="form-group">
          {{forms.list_input_field(form.tags, 'text')}}
          {% for entry in form.tags %}
              {{ entry(class='form-control') }}
          {% endfor %}
          </div>
          {{forms.text_field(form.new_tags)}}

          <button type="submit" class="btn btn-primary btn-block btn-loading" {{forms.data_loading_text()}}>
            حفظ
          </button>
        </fieldset>
      </form>
    </div>
    # if resource_db.image_url
      <div class="col-md-6">
        <div class="image-preview">
          <img class="img-responsive img-thumbnail" src="{{resource_db.image_url}}=s512">
        </div>
      </div>
    # endif
  </div>
# endblock
