# extends 'base.html'
# import 'macro/utils.html' as utils

# block content
  <div class="jumbotron text-center">
    <h1>أرسلوا صوركم</h1>
    <p><small>
      سيتم
      <a href="{{url_for('submissionGuidelines')}}" target="_blank">
        مراجعة الصور
      </a>
      ونشرها تحت ملفكم الشخصي إذا تم قبولهم
    </small></p>
    <p><small>
      صوركم تنشر تحت

      <a href="{{url_for('license')}}" target="_blank">
        رخصة برواز للاستخدام الحر والعام
      </a>

    </small></p>
    <p><small>
      رجاءً أرسلوا الصور التي لديكم حقوق الملكية لها فقط
    </small></p>
  </div>

  <form id="upload" class="form-horizontal" method="POST" action="{{upload_url}}" enctype='multipart/form-data'>
    <fieldset>
      <div class='control-group pretty-file'>
        <div class='controls'>
          <input class="file" name="file[]" data-get-upload-url="{{get_upload_url}}" type="file" multiple="multiple">
          <div class="input-group btn-block">
            <button class="btn btn-primary btn-lg btn-block center upload-button" type="button">اختر ملفات صور لإرسالها</button>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
  <div class="drop-area">
    أو اسحبوا واتركوا صور من سطح المكتب هنا
  </div>
  <div class="row resource-uploads">
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 hide">
      <div class="thumbnail">
        <div class="preview" style="background-image: url(http://files.vladstudio.com/joy/alien_and_chameleon/wall/vladstudio_alien_and_chameleon_480x272_signed.jpg)"></div>
        <h5>Example preview!</h5>
        <div class="progress">
          <div class="progress-bar" style="width: 64%;"></div>
          <div class="progress-text">Hola amigo</div>
        </div>
      </div>
    </div>
  </div>
# endblock
