@fa-font-path:            "/p/ext/font-awesome/fonts";
@icon-font-path:          "/p/ext/bootstrap/fonts/";

@footer-height:           @line-height-computed * 5;

@font-family: 'cairo';
@font-family-light: 'cairo-light';
@font-family-extra-light: 'cairo-extra-light';
@font-family-bold: 'cairo-bold';

@dir: rtl;