# extends 'base.html'
# import 'macro/utils.html' as utils

# block header
  <div class="jumbotron">
    <div class="container">
      <h1>عن {{config.CONFIG_DB.brand_name}}</h1>
      <p class="lead">
        برواز هو مشروع عربي يهدف إلى تقديم منصة لربط مصورين عرب كريمين بمجتمع من الأشخاص والجمعيات والمؤسسات والشركات الناشئة وغيرهم لتقديم وتسهيل عملية الحصول على صور عالية الجودة تعكس المجتمع والشخص العربي لاستخدامهم بحرية تامة وبدون ترخيص وإذن لتمكينهم من إنجاز مشاريعهم المختلفة وعكس الطابع العربي خلال الصور.
      </p>
      <p>&nbsp;</p>
      <h1>أهداف برواز</h1>
      <h2>تفعيل مشاريع عربية</h2>
      <p class="lead">
        يدعو منشر المصورين العرب لمشاركة صورهم مع مجتمعهم العربي وتفعيلهم لإنجاز مشاريعهم بنجاح. كما قامت مشاريع البرمجة المفتوحة المصدر بتفعيل العديد من المبرمجين الآخرين وغيرهم من غير المبرمجين (من ضمنهم مصورين) نود أن نقدم خدمة تقوم بإكمال هذه العملية بتقديم صور عالية الجودة مجانية الاستخدام بأي شكل وفي أي مشروع تريد.
      </p>
      <p>&nbsp;</p>
      <h2>عرض الهوية العربية</h2>
      <p class="lead">
        أحد أهم الأهداف لبرواز هو
        تقديم صور تعرض الهوية العربية عالية عالجودة وفتح المجال للمؤسسات
        والشركات والمشاريع الناشئة والأفراد لاستخدام هذه الصور في مشاريعهم المختلفة
        وإعطاء مشروعهم وجهاً عربياً بدلاً من استخدام صور لا تعكس الصورة العربية
        واطرارهم أو اكتفائهم باستخدام ما هو متوفر من صور أجنبية.
      </p>
      <p>&nbsp;</p>
      <h2>إثراء المحتوى مرئي عربي</h2>
      <p class="lead">
        يقوم برواز بتشجيع المجتمع على إضافة معلومات إضافية على كل صورة
        لإثراء المحتوى بشكل صوري ومعلومات عن الصورة الوصفية التي ستساعد
        المستخدم على البحث وإيجاد الصورة المناسبة لمشاريعهم المختلفة
        هذه المعلومات تتراوح من العنوان والموقع الذي أخذت فيه الصورة
        إلى معلومات عن ما في داخل الصورة (مثلاً جبال ثلجية)
      </p>
      <p>&nbsp;</p>
      <h2>عرض الموهبة التصويرية للمصورين العرب</h2>
      <p class="lead">
        التصوير الفوتوغرافي العربي يتصاعد بشكل سريع وبرواز سيعمل على تقديم منصة تساعدهم على عرض أعمالهم
        المختلفة والحصول على سيط من المجتمع العربي
      </p>
      <p>&nbsp;</p>
      <h2>عمل شبكة من المصورين العرب</h2>
      <p class="lead">
        يعمل برواز أيضاً على تكوين علاقات بين المصورين المختلفين وإعطائهم منصة لنقاش الأفكار والتواصل مع بعضهم وعمل المشاريع المشتركة
      </p>
      <p>&nbsp;</p>
      <h2>تقديم واجهة برمجية للمبرمجين العرب</h2>
      <p class="lead">
        أحد الأهداف هو فتح المجال للمبرمجين العرب المبدعين لاستخدام منصة برواز عن طريق واجهة برمجية واستخراج والبحث عن الصور المناسبة في مشاريعهم البرمجية
      </p>
    </div>
  </div>
# endblock

# block content

# endblock