# extends 'base.html'
# import 'macro/utils.html' as utils

# block header
  <div class="jumbotron">
    <div class="container">
      <h1>أسئلة شائعة عن {{config.CONFIG_DB.brand_name}}</h1>
      <h2>ماذا أفعل إذا رفع أحدهم صوري بدون إذني؟</h2>
      <p class="lead">
        دائماً نسعى إلى التأكد من ملكية الصورة المرفوعة ولكن في حال قام أحدهم برفع صورة لك بدون إذنك تواصل معنا وأخبرنا بالتالي:
        <ul>
          <li>اسمك (أو اسم صاحب الملكية للصورة) كامل</li>
          <li> وصف للعمل الذي تمتلك حقوق الملكية له مع رابط للصورة على برواز لنقوم بحذفها</li>
          <li>عنوانك، رقم هاتفك، وعنوان البريد الإلكتروني</li>
          <li>نص تقر فيه أن المعلومات التي قدمتها صحيحة</li>
        </ul>
      </p>
      <p>&nbsp;</p>
      <h2>هل يمكنني بيع صور من برواز؟</h2>
      <p class="lead">
        رخصة برواز تسمح بذلك ولكننا لا نشجع الموضوع. إذا كنت ستبيع الصور
        كما هي فالمصور أحق بالمبالغ التي ستقاضاها وقد يؤثر على مبيعاتهم.

        إذا قمت ببيع الصور بدون إضافة مجهود من عندك فغذ بعين الاعتبار مشاركتك
        للأرباح مع المصور الأصلي.
      </p>
      <p>&nbsp;</p>
      <h2>هل بإمكاني استخدام صور برواز في منتجاتي؟</h2>
      <p class="lead">
        أجل. الهدف من برواز هو مساعدتك على إتمام منتجك باستخدام الصور
        المقدمة من مجتمع برواز من المصورين.
      </p>
      <p>&nbsp;</p>
      <h2>كيف يمكنني التواصل مع مصور معين؟</h2>
      <p class="lead">
        يقوم المصور عند تشكيل ملفه الشخصي إضافة روابط لشبكاته الاجتماعية الأخرى يمكنك التواصل معهم من خلال هذه الشبكات.
      </p>
      <p>&nbsp;</p>
      <h2>هل بإمكاني استخدام صور من برواز بمشاريع ربحية أو شخصية؟</h2>
      <p class="lead">
        أجل. جميع الصور على برواز يمكنكم استخدامها بشكل مجاني وبدون إذن من المصور في مشاريع ربحية أو غير ربحية.

        <br/>
         ذكر اسم المصور عند استخدام الصور غير مطلوب ولكنه يساعد المصور ونقوم بتشجيعه في برواز
      </p>
      <p>&nbsp;</p>
      <h2>الصورة التي استخدمتها تم حذفها، هل ما زال بإمكاني استخدامها؟</h2>
      <p class="lead">
        قانونياً، بعد تحميل صورة على برواز تبقى تحت رخصة الاستخدام المجاني حتى بعد الحذف. لكننا نشجع في هذه الحالات احترام رغبة المصورين في حذف الصورة.
      </p>
      <p>&nbsp;</p>
      <h2>هل يتوجب وضع اسم المصور عند استخدامنا لصوره؟</h2>
      <p class="lead">
        رخصة برواز تسمح استخدام الصور بحرية بدون ذكر المصدر أو المصور.

        <br/>
         ذكر اسم المصور عند استخدام الصور غير مطلوب ولكنه يساعد المصور ونقوم بتشجيعه في برواز
      </p>
      <p>&nbsp;</p>
      <h2>هل أحتاج إلى أن أكون مصور محترف لكي أشارك في برواز؟</h2>
      <p class="lead">
        بالتأكيد لا.

        <br/>
         أي شخص يمكنه إرسال صور عالية الجودة طالما لديه ملكية ويتبع قوانين الإرسال.
      </p>
      <p>&nbsp;</p>
      <h2>هل بإمكاني حذف صورة من برواز بعد رفعها؟</h2>
      <p class="lead">
        نعم. سجل الدخول واذهب إلى صفحة الصورة واضغط حذف.

        <br/>
        أبقي في بالك أن حذف الصورة لا تحذف النسخ التي تم تحميلها قبل الحذف وبعض الأشخاص قد يكملوا استخدامها والذي يسمح به رخصة برواز.
      </p>

      <p>&nbsp;</p>
      <h2>هل يمكن للمؤسسات والشركات المشاركة بالصور؟</h2>
      <p class="lead">
        نعم. نشجع المؤسسات والشركات من كافة الأشكال المشاركة بالمجتمع ورفع صور.
      </p>

    </div>
  </div>
# endblock

# block content

# endblock