# extends 'base.html'
# import 'macro/utils.html' as utils

# block header
  <div class="jumbotron">
    <div class="container">
      <h1>رخصة {{config.CONFIG_DB.brand_name}}</h1>
      <p class="lead">
        جميع الصور في برواز يمكن استخدامها مجاناً.
        يمكنكم استخدامها بمشاريع تجارية ربحية أو غير تجارية.
        لا يوجد حاجة لطلب الإذن من المصور أو ذكر اسم المصور أو برواز عند استخدامك
        أي من الصور، مع ذلك إذا كان بإمكانك فعل ذلك سيكون ذلك محل التقدير
        ويساعد على تقدير المصور وبناء المجتمع بشكل أفضل.
      </p>
      <p>&nbsp;</p>
      <p class="lead">
        بشكل أوضح، برواز يمنح لكم رخصة غير راجعة،
        برخصة غير حصرية لحقوق الاستخدام بتنزيل ونسخ
        وتعديل وتوزيع واستخدام صور من برواز مجاناً.
        ذلك يتضمن الاستخدام التجاري الربحي وغير الربحي وغير التجاري
        والاستخدام الشخصي في المشاريع الشخصية بدون طلب الإذن أو
        ذكر اسم المصور أو برواز.
      </p>

      <p>&nbsp;</p>
      <a class="btn btn-link" href="{{url_for('faq')}}">
        اقرأ المزيد في الأسئلة الشائعة
      </a>
      <p>&nbsp;</p>

      <div class="well well-lg">
        <h2>
          نصيحة: كيف تظهر امتنانك وشكرك للمصورين؟
        </h2>
        <p>
          مع أنه غير مطلوب أن تضمن اسم المصور أو اسم المنصة، مجتمع المصورين على برواز يقدرون
          ذكر أسمائهم لتعطيهم إمكانية اكتشاف أكبر
          وتشجهم على مشاركة المزيد من أعمالهم مع المجتمع.

          إظهار امتنانك للمصورين يمكن أن يكون بشكل بسيط مثل:
        </p>

        <p class="blockquote">
          <blockquote>
            من تصوير
            <a href="https://birwaz.manshar.com/profile/5752754626625536/" target="_blank">
              أنس حمرا
            </a>
            على
            <a href="https://birwaz.manshar.com/" target="_blank">
              برواز
            </a>
          </blockquote>
        </p>
      </div>
    </div>
  </div>
# endblock

# block content

# endblock