# extends 'base.html'
# import 'macro/utils.html' as utils

# block header
  <div class="jumbotron">
    <div class="container">
      <h1>قوانين الخصوصية في {{config.CONFIG_DB.brand_name}}</h1>
      <p class="lead">
        نقوم في برواز وشركة منشر (الشركة) بالالتزام بتأين خصوصيتك حين تزور مواقعنا وتتواصل معنا إلكترونياً.

        في هذه الوثيقة نعرض قوانين الخصوصية ونوضح كيف نجمعها خلال تواجدك في مواقعنا.
      </p>
      <p>&nbsp;</p>
      <h2>
        بإمكان منشر تغيير قوانين الخصوصية
      </h2>
      <p class="lead">
        نحتفظ بحق تغيير قوانين الخصوصية لمنشر وبرواز في أي وقت. وسنقوم إعلامكم عن أي تغيير يحصل قبل فترة من التغيير ونعطيك كافة المعلومات المتعلقة بالتغيير
      </p>
      <p>&nbsp;</p>
      <h2>
        حماية معلوماتك
      </h2>
      <p class="lead">
        نحن مسؤولون عن معلوماتكم الشخصية. لذلك عندما نقوم بجمع معلوماتك نستخدم
        ما هو مقبول تجارياً لحماية معلوماتك. وجب التنبيه أنه لا يوجد حل تجاري يقدم
        100% حماية.

        في حال حدوث اختراق أو تسرب معلوماتك الشخصية، سيتم إعلامكم بأسرع وقت ممكن.
      </p>

      <p>&nbsp;</p>
      <h2>
        أنواع جمع المعلومات
      </h2>
      <h3>
        معلومات غير شخصية
      </h3>
      <p class="lead">
        عند استخدامك للموقع يتم جمع معلومات غير شخصية تلقائياً بدون علمك وبدون إذنك
        هذه المعلومات مثل عنوان شبكتك IP Address والموقع المرسل.

        نستخدم المعلومات غير الشخصية لفحص الطلبات ونراقب كيف يقوم المستخدمين باستخدام الموقع.

        هذا النوع من المعلومات لا يتم تعريفك بشكل شخصي.

        على سبيل المثال استخدام ال Cookies لحساب معلومات إحصائيات.
      </p>

      <h3>
        معلومات شخصية معرفة
      </h3>
      <p class="lead">
        أجزاء معينة من الموقع تتطلب تعريفك شخصياً للسماح لك باستعمالها،
        لذلك في بعض الأحيان سيتم جمع معلومات شخصية معرفة. مثل هذه المعلومات لا يتم جمعها بدون معرفتك وتتطلب إدخالك للمعلومات.

        بعض الأمثلة كيفية استخدام هذه المعلومات:
      </p>
      <ol class="lead">
        <li>لعمل علاقة معكم والتواصل معكم
        <li>لتقديم الخدمات المختلفة في المواقع
        <li>للسماح لكم بإرسال صور إلى الموقع ومعرفتنا من أضاف الصورة
        <li>للتحقق من المشاكل المختلفة التي قد تواجهها في الموقع
        <li>لإعلامك وتحديثك عن أي تغييرات أو معلومات عن المنتجات المختلفة
      </ol>

      <p class="lead">
        المعلومات التي نطلبها منك ونجمعها قد تختلف حسب استخدامك للموقع وعلى سبيل المثال فقط قت تحتوي: اسمك، بريدك الإلكتروني، رقم هاتفك، رابط لشبكاتك الاجتماعية وغيرها.
      </p>

      <p>&nbsp;</p>
      <h2>
        يحق لك تفحص معلوماتك الشخصية
      </h2>
      <p class="lead">
        لديك الحق لفحص المعلومات التي يقوم منشر بجمعها عنك. يمكنك التواصل معنا إذا أردت ذلك.
      </p>

      <p>&nbsp;</p>
      <h2>
        استخدام ومشاركة المعلومات
      </h2>
      <p class="lead">
        منشر لن يبيع أو يشارك معلوماتك مع طرف ثالث بدون إذن منك. بعض الحالات التي يمكن مشاركة معلوماتك الشخصية:
      </p>
      <ul class="lead">
        <li>في حال تم شراء أو دمح منشر أو خدماتها من قبل شركة أخرى
        <li>في حال التعاقد مع طرف ثالث لتطوير خدمات لشركة منشر بعد التزام الطرف الثالث بعدم مشاركة أي معلومات تتعارض مع قوانين الخصوصية الخاصة بمنشر
        <li>إذا تم إلزامنا قانونياً بأمر من القضاء بتسليم معلومات
      </ul>
      <p>&nbsp;</p>
      <h2>
        الأشخاص تحت عمر 18
      </h2>
      <p class="lead">
        مستخدمو مواقع منشر يجب أن يكونوا فوق ال 18 سنة من العمر. إذا تم اكتشاف مستخدمين تحت العمر المحدد سيتم حذف المعلومات الشخصية بأسرع وقت.
      </p>
      <p>&nbsp;</p>
      <h2>
        موافقتك على قوانين الخصوصية
      </h2>
      <p class="lead">
        باستخدامك لمواقع منشر فأنت توافق على قوانين الخصوصية المعروضة في هذه الوثيقة
      </p>
    </div>
  </div>
# endblock

# block content

# endblock