# extends 'base.html'
# import 'macro/utils.html' as utils

# block header
  <div class="jumbotron">
    <div class="container">
      <h1>متطلبات إرسال صور إلى {{config.CONFIG_DB.brand_name}}</h1>
      <p class="lead">
        شكراً لمشاركتك صورك مع مجتمع برواز العربي. نحاول اتباع التعليمات التالية عند مراجعة الصور والموافقة أو رفض عرضها في برواز.
      </p>
      <p>&nbsp;</p>
      <h2>يجب أن يكون لديك حقوق الملكية للصورة</h2>
      <p class="lead">
        رجاءً لا ترسل صور لا تملك حقوق الملكية لها.
      </p>
      <p>&nbsp;</p>
      <h2>الصور المرسلة يجب أن تكون أكبر من 3 ميجابيكسيل بالحجم</h2>
      <p class="lead">
        مثلاً للصور العرضية أصغر حجم لصورة ٣ ميجابيكسيل هي 2048 عرضاً و 1536 طولاً
      </p>
      <p>&nbsp;</p>
      <h2>الصور ذات جودة عالية</h2>
      <p class="lead">
        الصور غير الواضحة أو المغبشة أو مأخوذة من زوايا غريبة سيتم رفضها
      </p>
      <p>&nbsp;</p>
      <h2>الصور غير متشابهة لبعضها</h2>
      <p class="lead">
        الصور لا يجب أن تتشابه بعضها بشكل كبير، إذا تم إرسال عدة صور متشابهة جداً سيتم رفض بعض منها.
      </p>
      <p>&nbsp;</p>
      <h2>الصور الأصلية وغير المعدلة بشكل دمجي أو بشكل كبير جداً</h2>
      <p class="lead">
        الصور المدمجة مع بعضها لا تعتبر صور أصلية ولن يتم قبولها.
      </p>
      <p>&nbsp;</p>
      <h2>الصور المعدلة بشكل كبير للغاية</h2>
      <p class="lead">
        الصور المعدلة بشكل ضخم قد يظهر عليها بعض الشوائب من التعديلات وسيتم رفضها.
      </p>
      <p>&nbsp;</p>
      <h2>الصور لا تحتوي إباحية أو عري</h2>
      <p class="lead">
        برواز لجميع الأشخاص وجميع الأعمار فرجاء أبقي على المجتمع بشكل مناسب لجميع الأعمار
      </p>
      <p>&nbsp;</p>
      <h2>الصور لا تحتوي على إطار أو نص فوقهم</h2>
      <p class="lead">
        الإطارات أو الصور الإضافية المدمجة أو النص فوق الصورة سيتم رفضها.
      </p>
      <p>&nbsp;</p>
      <h2>الصور لا تحتوي على عنف شاد</h2>
      <p class="lead">
        نقدر أن بعض الصور ستقوم بعرض واقع حقيقي وعنيف ولكن الصور التي تظهر عنف شديد مثل جثث، صور دموية وغيرها سيتم رفضها لإبقاء المجتمع مناسب لجميع الأعمار.
      </p>
    </div>
  </div>
# endblock

# block content

# endblock